<mat-card class="example-card">
  <mat-card-header class="header-login">
    <mat-card-title class="title"><h3>Update account</h3></mat-card-title>
  </mat-card-header>

  <mat-card-content class="content-login example-card">

    <br/>
    <div class="row ">
      <div class="login-form">
        <form (ngSubmit)="updateAccount()"
              #formControl="ngForm"
              #formElement
              style="padding-left: 20px;"
        >
          <div class="errorMessage server-error" *ngIf="displayError()">
            {{displayErrorMessage()}}
          </div>

          <mat-form-field>
            <label for="budgetInput">Budget:</label>
            <input type="double"
                   matInput
                   id="budgetInput"
                   #comfortElement
                   #comfortControl="ngModel"
                   placeholder="Budget"
                   name="budget"
                   class="form-control"
                   [ngClass]="{form_invalid: data.budget === '', form_valid: data.budget !== ''}"
                   [(ngModel)]="data.budget"
                   required>
          </mat-form-field>
          <div class="errorMessage" *ngIf="data.buget === ''&&comfortControl.touched">
            The budget is null.
          </div>
          <br/>
          <mat-form-field>
            <mat-label>{{data.accountType.title}}</mat-label>
            <mat-select [(value)]="data.accountType.type">
              <mat-option *ngFor="let accountType of accountTypeList" [value]="accountType">
                {{accountType.title}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <!--            <input type="text"-->
          <!--                   id="typeInput"-->
          <!--                   matInput-->
          <!--                   #typeElement-->
          <!--                   #typeControl="ngModel"-->
          <!--                   placeholder="Type"-->
          <!--                   name="type"-->
          <!--                   class="form-control"-->
          <!--                   [(ngModel)]="data.type"-->
          <!--                   [ngClass]="{form_invalid:data.type === '', form_valid: data.type !== ''}"-->
          <!--                   required>-->


          <div class="errorMessage" *ngIf="data.type === ''&&typeControl.touched">
            The type is null.
          </div>


          <button type="submit"
                  class="button"
                  [disabled]="data.budget === null || data.type === ''"
                  style="margin-left: 40%;"
                  mat-stroked-button="register">
            Update
          </button>
        </form>
      </div>
    </div>
  </mat-card-content>

</mat-card>
