.example-card {
  max-width: 400px;
}

.title{
  padding-left:15px;
}
.header-login{
  background-image: linear-gradient(#FFD524, #55185D);
  height:20%;
}
.content-login{
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto
}
.errorMessage{
  background: rgba(255, 155, 158, 0.54);
  padding:10px 10px;
  border-radius:10px;
  margin:10px 0;
}

.form_invalid{
  box-shadow: 0 0 0 0.2rem rgba(255, 74, 43, 0.25);
}

.form_valid{
  box-shadow: 0 0 0 0.2rem rgba(39, 255, 90, 0.25)
}
.errorMessage{
  background: rgba(255, 155, 158, 0.54);
  padding:10px 10px;
  border-radius:10px;
  margin:10px 0;
}
.icon-centered-button span.mat-button-wrapper{
  display: flex;
}

.icon-centered-button mat-icon {
  margin: auto 2px auto 0;
}
.update-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

}

.title-description .mat-form-field {
  width: 100%;
}

textarea {
  min-height: 150px;
}

.button {
  background: #55185D;
  color: #FFD524;
}
.submit-btn {
  width: 100%;
  margin: 20px 0;
}

