.card {
  max-width: 200px;
  background: #FFD524;

}

.header-image {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-ibLPYzuM8mVQxPqBmWIR6IjNFXdWTofU6o8KPUY6b_yoYhRvFw');
  background-size: cover;
}



.text-color{
  color: #55185D;
  font-weight:bold;
}

.icon-color{
  color: lightcyan;
  font-weight:bold;
  background: darkmagenta;
}
.icon-color:hover{
  background: #FFD524;
}
