<div *ngIf="isLoggedIn()">
  <button mat-button class="icon-color" (click)="openDialogAdd()" ><mat-icon>add</mat-icon></button>
<mat-card class="card" *ngFor="let account of accountsList" >
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title class="text-color">Account</mat-card-title>
    <mat-card-subtitle class="text-color"> {{account.accountType.title}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
      <div class="text-color">
        Budget: {{account.budget}}
      </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button  (click) = "openUpdateDialog(account)" class="icon-color"><mat-icon >edit</mat-icon></button>
    <button mat-button class="icon-color" (click)="deleteAccount(account.id)"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>

</div>
