<div *ngIf="isLoggedIn()">
  <mat-toolbar >
    <span style="margin-right: 20px">Pocket</span>

    <button mat-button class="logout-button"
            *ngIf="isLoggedIn()"
            routerLinkActive="active" routerLink="../account">
      Accounts
    </button>

    <button mat-button class="logout-button"
            *ngIf="isLoggedIn()"
            routerLinkActive="active" routerLink="../">
      Settings
    </button>

    <span class="fill-space"></span>


    <button mat-button class="logout-button"
            *ngIf="isLoggedIn()"
            (click)="logout()" routerLinkActive="active" routerLink="../register">
      <mat-icon aria-label="Sign in">exit_to_app</mat-icon>
    </button>

  </mat-toolbar>

  <br/>


</div>


<!--<div style="padding: 0px;" *ngIf="isLoggedIn()">-->

<router-outlet></router-outlet>


<!--</div>-->
