.fill-space {
  flex: 1 1 auto;
}

.logout-button {
  right:0;
}
.input-label {
  width: 300px;
}

table {
  width: 100%;
  text-align: center;
}

th.mat-header-cell {
  text-align: center;
}

.list-routes-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.mat-toolbar {
  background: #55185D;
  color: #FFD524
}
.list-routes-page .bug-table {
  width: 70%;
  min-width: 900px;
}

.list-routes-page .bugs-controls {
  width: 20%;
  min-width: 200px;
}

.bug-sorts .mat-checkbox {
  display: block;

}
