.example-card {
  max-width: 400px;
  margin: auto;
  margin-top:200px;
  background-color: #55185D;
}
.title[_ngcontent-c1] {
  margin-left: 155%;
  margin-right: 50%;
  margin-top: 20px;
}
.title{
  font-weight: bold!important;
}

.form-group{
  color:#ffD524;
}

h3{
  font-weight: 700;
}

.form-control{
  width:100%;
  border-radius:10px;
}
.content-login{
  margin-left:15px;
  margin-right:15px;
}
.header-login{
  background-color: #ffD524;
  color:#55185D;
  font-family: Montserrat;
  font-weight: 600;
  height:20%;
  border-radius:40px;
}
.form_invalid{
  box-shadow: 0 0 0 0.2rem rgba(255, 74, 43, 0.25);
}

.form_valid{
  box-shadow: 0 0 0 0.2rem rgba(39, 255, 90, 0.25)
}
.errorMessage[_ngcontent-c1] {
  background: red;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 10px 0;
  color: white;
  text-align:center;
  font-weight: 600;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.icon-centered-button span.mat-button-wrapper{
  display: flex;
}

.icon-centered-button mat-icon {
  margin: auto 2px auto 0;
}
.mat-stroked-button {
  margin-left:43%!important;
  background-color:#ffD524!important;
}
.login-form{
  width:400px;
}
