<div *ngIf="!isLoggedIn()">
  <mat-card class="example-card" >
    <mat-card-header class="header-login">
      <mat-card-title class="title"><h3> Login</h3></mat-card-title>
    </mat-card-header>

    <mat-card-content class="content-login">
      <br/>
      <div class="row">
        <div class="login-form">
          <form (ngSubmit)="submitForm()"
                #formControl="ngForm"
                #formElement
          >
            <!--              *ngIf="!isLoggedIn()"-->
            <div class="errorMessage server-error" *ngIf="displayError()">
              {{displayErrorMessage()}}
            </div>
            <fieldset>
              <div class="form-group">
                <div class="form-group">
                  <label for="emailInput">Email:</label>
                  <input type="text"
                         #emailElement
                         #emailControl="ngModel"
                         placeholder="Email:"
                         name="username"
                         id="emailInput"
                         class="form-control"
                         [ngClass]="{form_invalid: !validateEmail(), form_valid:validateEmail()}"
                         [(ngModel)]="userLogin.email"
                         required>
                </div>
              </div>
              <div class="form-group">
                <label for="passwordInput">Password:</label>
                <input type="password"
                       #passwordElement
                       #passwordControl="ngModel"
                       placeholder="Password"
                       name="password"
                       id="passwordInput"
                       class="form-control"
                       [(ngModel)]="userLogin.password"
                       [ngClass]="{form_invalid: userLogin.password === '', form_valid: userLogin.password !== '' && validatePassword()}"
                       required>
              </div>

            </fieldset>


            <button mat-fab type="submit"
                    [disabled]="!validateEmail() || !validatePassword()"
                    matTooltip="Sign-in"
                    color="accent"
                    style="margin-left: 40%;"
                    mat-stroked-button="login">
              <mat-icon aria-label="Sign in">!</mat-icon>
            </button>


          </form>

        </div>
      </div>
      <div class="errorMessage" *ngIf="!validateEmail()&&emailControl.touched">
        The email not has a good pattern.
      </div>

      <div class="errorMessage" *ngIf="!validatePassword()&&passwordControl.touched">
        The password  not has a good pattern.
      </div>
    </mat-card-content>

  </mat-card>

</div>
